<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="dns-prefetch" href="https://calendar.google.com" />
    <link rel="preload" href="/fonts/JetBrainsMono-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/JetBrainsMono-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="/css/bootstrap-slim.css" />
    <link rel="stylesheet" href="/css/green.css" />
    <script defer src="/js/nav.js"></script>
  </head>

  <body>
    {% include navbar.html menu=site.data.menu %}
    <div id="main" class="container">{{ content }}</div>
  </body>
</html>
